@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

h2,h3{
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.header-container{
  background-color: aliceblue;
  padding: 0 10px;
  border-radius: 15px;
}

.input{
  height: 40px;
  width: 200px;
  outline: none;
  border: 3px solid #544fe3;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  margin: 10px;
}

button{
  width: 150px;
  height: 50px;
  border: 1px solid #757575;
  background-color: aliceblue;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  font-size: 15px;
}

button:hover{
  background-color: rgb(200, 229, 255);
}

.total-bill{
  margin-top: 0px;
}